.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;

}
.App-header > * {
  margin: auto 0; /* Center the direct children vertically */
}

.Schedule {
  margin-top: 120px; /* Adjust this value as needed */
}

.Schedule h2 {
  position: static; /* Reset the position */
  margin-top: 0; /* Reset the margin */
  clear: both; /* Ensure the h2 doesn't float */
}

.App-header h2 {
  position: relative;
  font-size: 1em;
}

.greeting {
  position: absolute;
  top: 0;
  padding: 20px;
  font-size: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.language-selection {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}



.language-selection select {
  font-size: 1.0em;
}

.day-row {
  margin-bottom: 20px;
}

.select-style {
  font-size: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}

.select-group {
  display: flex;
  gap: 10px; /* optional: adds some space between the select elements */
}

.submit-button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* for example, a green color */
  color: white; /* white text */
  cursor: pointer;
}

